body{
    background-color: dimgray;
} 

.titulo {
    position: absolute;
    color: red;
    margin-top: 200px;
    margin-left: 50px;
    font-size:large;
}

.subtitulo {
    position: absolute;
    color: white;
    margin-top: 270px;
    margin-left: 50px;
}